:root {
  --title-height: 30px;
  --address-width: 100px;
  --opacity: 1;
}
body {
  margin: 0;

  width: 100vw;
  height: 100vh;
}

webview {
  background-color: rgb(255, 255, 255);
}
webview.dark {
  background-color: rgb(0, 0, 0);
}
label {
  padding: 1px 6px;
  font-weight: bold;
}
#address {
  width: calc(100% - var(--address-width));
  border-radius: var(--address-width);
  box-sizing: border-box;
  padding-left: 1rem;
}

.title-item,
.draggable,
.open-address {
  display: none;
}
.title-bar {
  place-content: space-between;
  display: flex;
  width: 100vw;
  height: var(--title-height);
  position: fixed;
  z-index: 1;
}

.title-bar.active {
  background: black;
}

.address-bar {
  color: white;
  display: none;
}
.title-bar.active #open-address:checked ~ .address-bar,
.title-bar.active .title-item {
  display: block;
}
.draggable {
  -webkit-app-region: drag;
  width: 100%;
}
#browser-color {
  background: none;
  border: none;
}
#prev-page.inactive,
#next-page.inactive {
  filter: brightness(0) invert(0.3);
}
#prev-page,
#next-page,
.title-item {
  background: none;
  border: none;
  filter: brightness(0) invert(1);
}
.displaynone {
  display: none;
}
.textedit {
  background: none;
  box-sizing: border-box;
  border: none;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 10px;
  resize: none;
  height: calc(100vh - var(--title-height));
  color: white;
  margin-bottom: -5px;
}
#contentWrapper {
  position: relative;
}
#content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.address-bar {
  background: black;
  position: absolute;
  top: var(--title-height);
  width: 100%;
}
.address-control,
.favorites {
  height: var(--title-height);
}
webview {
  height: 100%;
  width: 100%;
  display: flex;
}
