:root {
  --title-height: 34px;
  --address-width: 70px;
  --detail-width: 300px;
  --opacity: 1;
  --blue-5: rgb(30, 30, 214);
}
button {
  padding: 0;
}
body {
  margin: 0;

  width: 100vw;
  height: 100vh;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

webview {
  background-color: rgb(255, 255, 255);
}
webview.dark {
  background-color: rgb(0, 0, 0);
}
label {
  padding: 1px 6px;
  font-weight: bold;
}
.window-icon {
  width: 45px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.window-icon.close:hover {
  background-color: red;
}
.window-icon:hover {
  background-color: gray;
}
.icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon:hover {
  background-color: gray;
  border-radius: 100%;
}
#address {
  width: calc(var(--detail-width) - var(--address-width));
  border-radius: var(--address-width);
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 30px;
  height: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(226, 226, 226);
  border: none;
}
.address-bar {
  position: relative;
}

#bookmark-icon {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
}
#bookmark-icon:after {
  content: "☆";
}
#bookmark-icon:not(.inactive):after {
  content: "★";
}
.title-bar {
  place-content: space-between;
  display: flex;
  width: 100vw;
  height: var(--title-height);
  z-index: 1;
  background: rgb(243, 243, 243);
}
.title-item {
  display: flex;
  align-items: center;
}
.title-bar #open-address:checked ~ .navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}

.draggable {
  -webkit-app-region: drag;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#browser-color {
  background: none;
  border: none;
  font-size: 1rem;
}
#toggle-device {
  font-size: 1rem;
}
#prev-page.inactive,
#next-page.inactive {
  opacity: 0.3;
}

#bookmark-popup {
  border-radius: 5px;
  position: absolute;
  right: 0px;
  padding: 25px;
  background: white;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 2;
}

#bookmark-popup:not(.open) {
  display: none;
}
#bookmark-popup #bookmark-name {
  font-weight: 100;
  display: block;
}

#prev-page,
#next-page,
.title-item {
  background: none;
  border: none;
}
.displaynone {
  display: none;
}
.textedit {
  background: none;
  box-sizing: border-box;
  border: none;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding: 10px;
  resize: none;
  height: calc(100vh - var(--title-height));
  color: white;
  margin-bottom: -5px;
}
#contentWrapper {
  position: relative;
}
#content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#add-favorite,
#remove-favorite {
  padding: 0.3rem 1rem;
  float: right;
}
#add-favorite {
  background: var(--blue-5);
  border: 1px solid var(--blue-5);

  color: white;
}
#remove-favorite {
  border: 1px solid gray;
  background: none;
  color: var(--blue-5);
}
#bookmark-popup.open + #favorite-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
}
.navigation {
  padding: 10px 10px;
  display: none;
  background: rgb(243, 243, 243);
  position: absolute;
  top: var(--title-height);
  width: var(--detail-width);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 10px;
}
.address-control {
  display: flex;
  height: var(--title-height);
}
#bookmark-bar {
  display: flex;
  min-height: 5px;
}
#favorite {
  height: var(--title-height);
  border: none;
  background: none;
}
webview {
  height: calc(100% - var(--title-height));
  width: 100%;
  display: flex;
}
